body {
    background-image: url('https://media.istockphoto.com/id/604337712/photo/double-lightening-hitting-the-rio-plata-in-black-and-white.jpg?s=612x612&w=0&k=20&c=zXZWRKFco62NdbXs6cpFC6hbBaWyqfdvhZGjghXFReQ=');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: auto;
    height: 100vh;
    background-attachment: fixed;
    padding-top: 5vh;
    margin: 0;
}
a{
    font-size: 4vw;
    color: rgb(246, 231, 231);
    text-decoration: none;
    text-align: center;
    padding: 1vh 2vw;
    background-color: #f9082c;
    border: 0.5vw solid rgb(255, 0, 85);
    display: inline-block;
    margin-bottom: 2vh;
}
.lin1{
    margin-left: 20%;
    text-align: center;
}
.lin2{
    margin-left: 2vw;
    text-align: center;
}
p{
    text-transform: capitalize;
    text-align: center;
    color: rgb(235, 244, 247);
    background-color: #f9082c;
    font-size: 2.5vw;
    margin: 10vh 5vw;
}
h1{
    font-size: 7vw;
    text-align: center;
    color: rgb(6, 16, 25);
    text-transform: uppercase;
    background-color: rgb(255, 25, 0);
    margin: 5vh 5vw;
}