*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(157, 220, 118);
}
.main{
    margin: 10% 20vw;
    display:flex;
    justify-content: space-around;
    flex-wrap:wrap;
}
.box{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width:250px;
    height:350px;
    border-radius: 5%;
    background-color: rgb(237, 183, 229);
    box-shadow: 2px 2px 20px;
    margin-bottom: 20px;
}
img{
    width:100px;
    height: 100px;
}
p{
    text-align: center;
    margin:20px 40px;
}
button{
    background-color: rgb(14, 14, 129);
    padding:5px 20px;
    border-radius: 10%;
    color: white;
    cursor: pointer;
}
footer{
    background-color: rgb(169, 3, 252);
    color: white;
    display: flex;
    justify-content: space-evenly;
    font-weight: bold;
    padding:20px 40px;
}
.ab{
    margin-bottom: 10px;
}
.foot{
    font-size: 25px;
    margin-left: 50%;
    margin-bottom: 20px;
}