body {
  background: black;
}
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}
#head {
  text-align: center;
  font-size: 70px;
  color: white;
}
