*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    margin: 5px;
}
.card{
    max-width:400px;
    min-height:650px;
    display: flex;
    flex-direction: column;
    text-align: center;
    flex-wrap: wrap;
    border-radius:10px;
    background-color: rgb(192, 192, 192);
    transition: transform 0.3s,border 0.2s;
}
.header{
    margin-right: 50px;
}
span{
    margin-left:50px;
}.details{
    flex-direction: column;
}
.details>img{
    margin:auto;
    min-width: 200px;
}
.card:hover{
    transform: translate(0, -15px);
    border:5px solid rgb(17, 255, 0);
    background-color: white;
}