body{
    background-image: url('https://media.istockphoto.com/id/604337712/photo/double-lightening-hitting-the-rio-plata-in-black-and-white.jpg?s=612x612&w=0&k=20&c=zXZWRKFco62NdbXs6cpFC6hbBaWyqfdvhZGjghXFReQ=');
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 5vh;
}
a{
    font-size: 30px;
    color:rgb(246, 231, 231);
    text-decoration: none;
    text-align: center;
    padding:1vh 2vw;
    background-color: #f9082c;
    border: 2px solid rgb(255, 0, 85);
}
.lin1{
    margin-left: 34vw;
}
.lin2{
    margin-left: 4vw;
}
p{
    text-transform: capitalize;
    text-align: center;
    color:rgb(235, 244, 247);
    background-color: #f9082c;
    font-size: 20px;
    margin-left:30vw;
    margin-right: 30vw;
    margin-bottom: 10vh;
}
h1{
    font-size: 100px;
    text-align: center;
    color:rgb(6, 16, 25);
    text-transform: uppercase;
    background-color: rgb(255, 25, 0);
    margin-left:30vw;
    margin-right:26vw;
}
