.head {
    display: flex;
    background-color: #f8f8f8;
    box-shadow: 0px 2px 10px;
    flex-wrap: wrap;
    margin: 10px;
    padding: 15px;
  }
  img {
    padding-left: 10px;
  }
  .head ul li a {
    text-decoration: none;
    color: black;
    margin: 20px;
  }
  ul {
    list-style-type: none;
    margin-left: auto;
    display: flex;
    flex-wrap: wrap;
  }
  