.logos {
    border-radius: 50%;
    transform: translate(0%, -50%);
    margin-left: 20px;
    margin-bottom: 0;
    width: 20%;
  }
  .pic {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    margin-bottom: 0;
    width: 100%;
  }
  .cards {
    border: 2px solid black;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    margin-bottom: 30px;
    background-color: white;
    transition: transform 0.3s;
  }
  h4 {
    margin-left: 40px;
    margin-bottom: 20px;
  }
  .cards h3,
  p {
    margin: 0 30px;
    margin-bottom: 25px;
    transform: translate(0, -40%);
  }
  .cards:hover {
    transform: scale(0.9) rotate(3deg);
  }
  