*{
    padding-left: 2px;
    padding-right: 2px;
}
.img1{
    width:500px;
    float:left;
    margin-left: 20px;
    margin-top: 10px;
    margin-right: 30px;
}
.img2{
    width:500px;
    float:right;
    margin-right: 20px;
}
.desc{
    padding-top: 15px;
    padding-left: 550px;
    font-size: 20px;
}
.desc1{
    padding:auto;
    font-size: 20px;
    padding-bottom: 20px;
    margin:auto;
}
.desc2{
    padding:auto;
    padding-top:0px;
    margin-top: 0px;
    padding-right: 5px;
    font-size: 20px;
}
span{
    background-color: rgb(177, 177, 214);
}