body{
    margin-left: 4vw;
    margin-top: 4vh;
    background-color: rgba(66, 226, 17, 0.267);
}
img{
    width: 200px;
    float:left;
    margin-right: 2vw;
    margin-bottom: 2vh;
    box-shadow: 20px 20px 20px rgb(12, 49, 233);
}
.app{
    display: right;
    margin-left: 3vw;
    margin-top: 4vh;
    margin-bottom: 200px;
    font-size: 20px;
}
span{
    color:#ee0909;
}
h1,h2{
    display:block;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    box-shadow: 2px 2px 20px #ee0909;
}
li{
    font-size: 20px;
}
hr{
    margin-left: 1vw;
}
.anta-regular,h1,h2 {
    font-family: "Anta", sans-serif;
    font-weight: 400;
    font-style: normal;
}
  
