.btns {
    text-align: center;
  }
  div > button {
    margin: 20px;
    background: linear-gradient(to bottom, white, rgb(52, 135, 52));
    padding: 5px;
    border-radius: 10px;
  }
  .box1 {
    border: 2px solid black;
    width: 300px;
    margin: 40px auto;
    padding: 30px;
    background: linear-gradient(to bottom, white, pink);
    transition: all 0.3s;
  }
  .box1:hover {
    transform: scale(1.1);
  }
  