*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: 100;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body{
    background-image: url('https://thumbs.dreamstime.com/b/vector-illstration-red-eyes-black-background-eps-171680059.jpg');
    margin-top: 150px;
    height: 100vh;
    background-size: 100% 100%;
    background-position: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.main{
    margin: auto;
    max-width: 800px;
    display: flex;
    border-radius: 2%;
    flex-wrap: wrap;
    box-shadow: 2px 2px 26px gray;
}
.box1{
    background-color: white;
    height: 100%;
    width: 50%;
    text-align: center;
    border-top-left-radius: 2%;
    border-bottom-left-radius: 2%;
    height: auto;
}
.imgs{
    margin: auto;
    margin-bottom: 30px;
}
.img1,.img2{
    width: 40px;
    border-radius: 50%;
}
.box2{
    background-image: linear-gradient(to right, rgb(255, 80, 80) , magenta);
    height: 100%;
    width: 50%;
    text-align: center;
    border-top-right-radius: 2%;
    border-bottom-right-radius: 2%;
    height: auto;
    padding-top: 15%;
}
#email,#pass{
    width: 80%;
    opacity: 50%;
    height:40px;
    padding: 20px;
    font-size: 15px;
    border:0px;
}
.log{
    padding: 50px;
    font-weight: 900;
}
.login{
    width:30%;
    padding: 10px;
    margin: 30px;
    border-radius: 30px;
    background-color: rgb(255, 64, 0);
    color: #ffffff;
    font-weight: 500;
    margin-bottom: 60px;
}
.head{
    padding: 50px;
    padding-bottom: 10px;
    padding-top: 10px;
    color: #ffffff;
    font-weight: 900;
}
a{
    text-decoration: none;
    font-size: large;
    color: #000;
}
input.col{
    font-weight: 800;
    color: black;
    background-color: rgba(151, 116, 116, 0.385);
    margin-top: 5px;
    margin-bottom: 5px;
}
.main:hover{
    transform: scale(1.1);
}