body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: gray;
}
h1 {
  background-color: #f8f8f8;
  max-width: 280px;
  margin: 40px auto;
  padding: 20px;
  transition: all 0.3s;
  font-size: 35px;
}
