.imgs{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.imgs > img {
    margin: 20px;
    width: 450px;
    min-width: 300px;
}
h1{
    text-align: center;
    font-size: 60px;
}