.card {
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    align-items: center;
    max-width: 400px;
    margin-bottom: 50px;
    background-color: black;
    color: white;
    transition: transform 0.5s;
  }
  button {
    background-color: rgb(39, 39, 255);
    margin: 20px;
    padding: 10px 30px;
    font-weight: 900;
  }
  .card:hover {
    transform: scale(0.9) rotate(5deg);
    border: 3px solid white;
  }
  